*{
    /* background-color: #defce3; */
    color: black;
}
body{
    background-image: url(../src/paper.svg);
    background-size: auto 100%;
    /* background-position-y: 3rem; */
}
.menuexpanded a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}
.menuexpanded a:hover{
    color: white;
    
}
/* .row .col{
    padding: 1rem;
} */
.i{
    padding-left: 5px;
    padding-right: 5px;
}
.i a{
    text-decoration: none;
    color: black;
}
.menuexpanded{
    position: fixed;
    height: 100%;
    background-color: darkgreen;
    background-image: url(../src/paper.svg);
    background-size: auto 100%;
    z-index: 1;
    margin-top: 49px; 
    background-position: 0 -50px;
}
.menuexpanded hr{
    border: 1px solid white;
}
.menu{
    position: fixed;
    width: 100%;
    background-color: darkgreen;
    background-image: url(../src/paper.svg);
    background-position: 0 0;
    z-index: 1;
    height: 50px;
}
hr{
    border: 1px solid green
}
.pic{
    width: 95%;    
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.rel{
    position: relative;
}
.fix{
    position: fixed
}
.w100{
    width: 100%;
}
